.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.125rem;
    height: 2.4375rem;
    border: none;
    background: var(--color-green);
    border-radius: .75rem;
    
    font-style: normal;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: var(--color-white);
}

.button:hover {
    background: #14420e;
}