.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 18rem;
    margin-bottom: 2rem;
    width: 100%; 
    max-width: 56.25rem;   
}

.div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; 
    max-width: 16.25rem;   
}

.title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: var(--color-white);
}

@media (min-width: 769px) { 
    .section {
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-top: 4rem;
    }

    .div {
        margin-top: 0;
    }
}
